<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../img/1.png" type="image/x-icon">
	<link rel="stylesheet" href="../stylesheets/index.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
	<title>Wallpaper</title>
</head>
<body>
	<header class="header">
		<div class="header__conteiner conteiner">
			<div class="header__menu">
				<a href="#" class="header__links">Products</a>
				<a href="#" class="header__links">About</a>
				<a href="#" class="header__links">Contact</a>
			</div>
			<a href="../index.html" class="header__logo">
				<h1 class="header__title">HOME blockout co.</h1>
				<div class="header__description">
					<p class="description__text blinds">wallpaper</p>
					<p class="description__text curtains">tile</p>
					<p class="description__text shuters">shutters</p>
				</div>
			<a>
			<div class="header__sml">
				<i class="fab fa-youtube"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-facebook-f"></i>
				<i class="fab fa-whatsapp"></i>
				<i class="fab fa-telegram-plane"></i>
			</div>
		</div>
	</header>
	<section class="intro__wallpaper intro">
		<h1 class="intro__title title__bg">Wallpaper for walls</h1>
		<a href="#" class="intro__btn btn">view products</a>
	</section>

	<section class="aboutus">
		<div class="aboutus__conteiner conteiner">
			<img src="../img/wallpaper/image 1.png" class="aboutus__img img__wallpaper">
			<div class="aboutus__more">
				<h1 class="aboutus__title title__bg">Wallpaper</h1>
				<p class="aboutus__description">
					Over the hundreds of years of its existence, wallpaper for walls has never met a worthy competition, therefore it remains the most popular material for interior decoration of interiors. 
					Every year modern manufacturers discover more and more their facets, reducing the repair time, facilitating all processes and extending the life of the interior created with love. 
					The HOME Island online store is an expert in the field of creating modern interiors. For you, we have compiled a catalog of wallpapers for walls from the most famous brands.
				</p>
			</div>	
		</div>
	</section>
	<section class="block-img">
		<div class="block-img__conteiner conteiner">
			<img src="../img/wallpaper/image 2.png" alt="" class="block-img__images">
			<img src="../img/wallpaper/image 3.png" alt="" class="block-img__images">
			<img src="../img/wallpaper/image 4.png" alt="" class="block-img__images">
			<img src="../img/wallpaper/image 6.png" alt="" class="block-img__images">
			<img src="../img/wallpaper/image 7.png" alt="" class="block-img__images">
			<img src="../img/wallpaper/image 8.png" alt="" class="block-img__images">
		</div>
	</section>
	<footer class="footer">
		<div class="footer__conteiner conteiner">
			<div class="footer__info Sitemap">
				<h1 class="footer__title">Sitemap</h1>
				<a href="#" class="info__link">Home</a>
				<a href="#" class="info__link">Products</a>
				<a href="#" class="info__link">About</a>
				<a href="#" class="info__link">Contact</a>
			</div>
			<div class="footer__info Contact">
				<h1 class="footer__title">Contact</h1>
				<p class="info__description">info@homeblockout.co</p>
				<p class="info__description">Ph: +64 021 000 1616</p>
				<p class="info__description">Home Island</p>
				<p class="info__description">New Zeland</p>
			</div>
			<div class="footer__info Quote">
				<h1 class="footer__title">QUOTE</h1>
				<P class="info__description">
					Book your free measure and quote.
				</p>
				<a href="#" class="info__btn btn">Contact us</a>
			</div>
			<div class="footer__info About">
				<h1 class="footer__title">ABOUT</h1>
				<p class="info__description">
					Home Blockout Co. - Made to order Blinds, Curtains and Shutters on Home Island.
				</p>
			</div>
		</div>
	</footer>
</body>
</html>